body {
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

table { border-collapse:collapse }


input.param { width: 60px; margin-right: 10px; margin-bottom: 0.5em; }

.small { font-size: 0.875em; }

li { display: block;
    background-image: url("../images/green_bullet_16.png");
    background-position: left;
    background-repeat: no-repeat;

    padding-left:20px;
}
